$body-bckg: #A0A6A0;
$white-color: #FFF;
$black-color: #000;
$desc-number: #E5F7F9;
$desc-number-txt: #83D8E4;
$text-selected: #F3CB0A;
$checker-color: #CECECE;
$mistake: #DE2323;
$correct: green;